In [1]:
import pandas as pd
import numpy as np

In [5]:
movies_df=pd.read_csv('movies.csv', usecols=['movieId', 'title'], dtype={'movieId': 'int32', 'title': 'str'})
rating_df=pd.read_csv('ratings.csv', usecols=['userId', 'movieId', 'rating'], dtype={'userId': 'int32', 'movieId': 'int32', 'rating': 'float32'})

In [6]:
movies_df.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [7]:
rating_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [9]:
df = pd.merge(rating_df, movies_df, on='movieId')
df.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [12]:
combine_movie_rating = df.dropna(axis=0, subset=['title'])
movie_ratingCount = (combine_movie_rating.groupby(by=['title'])['rating'].count().reset_index().rename(columns={'rating': 'totalRatingCount'})[['title', 'totalRatingCount']])
movie_ratingCount.head()

                                     title  totalRatingCount
0                               '71 (2014)                 1
1  'Hellboy': The Seeds of Creation (2004)                 1
2                   'Round Midnight (1986)                 2
3                      'Salem's Lot (2004)                 1
4                'Til There Was You (1997)                 2

In [15]:
rating_with_totalRatingCount=combine_movie_rating.merge(movie_ratingCount, left_on='title', right_on='title', how='left')
rating_with_totalRatingCount.head()

   userId  movieId  rating             title  totalRatingCount
0       1        1     4.0  Toy Story (1995)               215
1       5        1     4.0  Toy Story (1995)               215
2       7        1     4.5  Toy Story (1995)               215
3      15        1     2.5  Toy Story (1995)               215
4      17        1     4.5  Toy Story (1995)               215

In [17]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(movie_ratingCount['totalRatingCount'].describe())

count   9719.000
mean      10.375
std       22.406
min        1.000
25%        1.000
50%        3.000
75%        9.000
max      329.000
Name: totalRatingCount, dtype: float64

In [18]:
populaty_threshold=50
rating_popular_movie=rating_with_totalRatingCount.query('totalRatingCount >= @populaty_threshold')
rating_popular_movie.head()

   userId  movieId  rating             title  totalRatingCount
0       1        1   4.000  Toy Story (1995)               215
1       5        1   4.000  Toy Story (1995)               215
2       7        1   4.500  Toy Story (1995)               215
3      15        1   2.500  Toy Story (1995)               215
4      17        1   4.500  Toy Story (1995)               215

In [19]:
rating_popular_movie.shape

(41362, 5)

In [20]:
movie_features_df=rating_popular_movie.pivot_table(index='title', columns='userId', values='rating').fillna(0)
movie_features_df.head()

userId                              1     2     3    ...   608   609   610
title                                                ...
10 Things I Hate About You (1999) 0.000 0.000 0.000  ... 0.000 0.000 0.000
12 Angry Men (1957)               0.000 0.000 0.000  ... 0.000 0.000 0.000
2001: A Space Odyssey (1968)      0.000 0.000 0.000  ... 3.000 0.000 4.500
28 Days Later (2002)              0.000 0.000 0.000  ... 3.500 0.000 5.000
300 (2007)                        0.000 0.000 0.000  ... 5.000 0.000 4.000

[5 rows x 606 columns]

In [24]:
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

movie_features_df_matrix=csr_matrix(movie_features_df.values)
model_knn=NearestNeighbors(metric='cosine', algorithm='brute')
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [ ]:
movie_features_df.shape

In [29]:
query_index=np.random.choice(movie_features_df.shape[0])
print(query_index)

distances, indices = model_knn.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors=6)

375

In [30]:
movie_features_df.head()

userId                              1     2     3    ...   608   609   610
title                                                ...
10 Things I Hate About You (1999) 0.000 0.000 0.000  ... 0.000 0.000 0.000
12 Angry Men (1957)               0.000 0.000 0.000  ... 0.000 0.000 0.000
2001: A Space Odyssey (1968)      0.000 0.000 0.000  ... 3.000 0.000 4.500
28 Days Later (2002)              0.000 0.000 0.000  ... 3.500 0.000 5.000
300 (2007)                        0.000 0.000 0.000  ... 5.000 0.000 4.000

[5 rows x 606 columns]

In [32]:
for i in range(0, len(distances.flatten())):
  if i == 0:
    print('Recomendação para {0}: \n'.format(movie_features_df.index[query_index]))
  else:
    print('{0}:{1}, de distancia de {2}'.format(i, movie_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recomendação para Splash (1984):

1:Big (1988), de distancia de 0.43343573808670044
2:Beetlejuice (1988), de distancia de 0.46086519956588745
3:Romancing the Stone (1984), de distancia de 0.47226953506469727
4:When Harry Met Sally... (1989), de distancia de 0.4876624345779419
5:Honey, I Shrunk the Kids (1989), de distancia de 0.5049044489860535